@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";

$primary: red;
$dropdown-border-color: white;
$dropdown-link-hover-bg: #f29544;
$navbar-light-color:#158fbf;
$dropdown-link-hover-color: white;
$dropdown-link-color: #158fbf;
$navbar-light-hover-color: #f29544;
$navbar-light-active-color: #158fbf;
$navbar-light-brand-color: #158fbf;
$navbar-light-brand-hover-color: #f29544;
$navbar-light-toggler-border-color: rgb(21, 143, 191);
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2821, 143, 191, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
$btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#f29544'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");
$offcanvas-color: #158fbf;
@import "/node_modules/bootstrap/scss/bootstrap";